#index-hero {
  width: 100%;
  margin: 0;
  padding: 0;
  z-index: 1;
}

#stemningsvideo {
  width: 100%; /* Gør at videoen fylder hele bredden, unanset bredden af skærmen den ses på */
  height: auto;
  padding: 0;
  margin-bottom: -10px;
  z-index: 1;
}
  
.status { /* Tilføjet en status bar, for at vise om stedet er åbent eller lukket */
  background-color: #F3C846;
  color: #242424; /* Farven vi bruger til tekst på sitet, ikke helt sort, men mørkegrå */
  text-align: center; /* Teksten skal være centreret inde i status baren */
  padding: 10px 0; /* Status baren skal være 10px tyk */
  z-index: 2;
}
  
.velkommen-container {
  display: flex;
  background-color: white;
  margin: 2em auto;
  width: 65%;
  height: auto;
  border-radius: 77px 0 77px 0;
  overflow: hidden;
  border: 3px solid #F3C846;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
}
  
.velkommen {
  flex: 1;
  background-color: #D84D34;
  color: white;
  padding: 4em;
  max-width: 50%;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
}

.velkommen h3 {
  text-align: center;
}
  
.logo {
  flex: 1;
  background-color: #ffffff;
  display: flex;
  align-items: center;
  justify-content: center;
  max-width: 50%;
}
  
.logo img {
  width: 80%;
  height: auto;
  max-width: 400px;
}

/*--------------------------Knapper----------------------------------*/
  
.index-buttons {
  display: flex;
  justify-content: center;
  gap: 2em;
  padding: 2em 2em;
  margin-top: 2em
}

.index-buttons a {
  background-color: #22527A;
  color: white;
  font-family: "museo-slab-rounded", sans-serif;
  font-weight: 700;
  font-style: normal;
  font-size: 1.2em;
  padding: 0.8em 2em;
  border-radius: 1.5em;
  cursor: pointer;
  box-shadow: 2px 2px 5px rgba(0,0,0,0.2); /* Tilføjet skygge for at indikere at de er knapper */
}

.index-buttons a:hover { /* Teksten bliver tykkere og orange som ved alle andre links */
  font-weight: 900;
  color: #E38A2F;
}

/*--------------------------Responsivt----------------------------------*/

@media (max-width: 768px) {
  .velkommen-container {
    flex-direction: column; /* Content placeres vertikalt i responsive */
    border-radius: 42px 0 42px 0;
    margin-top: 3%;
    width: 70%;
  }

  .velkommen, .logo {
    max-width: 100%;
    padding: 35px;
  }

  .logo img {
    width: 100%;
    max-width: 300px;
  }

  .velkommen h3 {
    font-size: 22px;
  }

  .index-buttons { /* Knapperne skjules i responsiv */
    display: none;
  }
}


