.nyhedscontainer{
    display: flex;
    flex-direction: row;
    justify-content: center;
    text-align: center;
    width: auto;
    height: 600%;
    margin-left: 7%;
    margin-right: 7%;
    margin-top: 3%;
}

    .box1{
   
    background-color: white;
    border-left: 3px solid #f3c846;
    border-bottom: 3px solid #f3c846;
    border-top: 3px solid #f3c846;
    border-radius: 77px 0 0 0;
    width: 38%;
    text-align: center;
    padding: 15px;
    padding-top: 25px;
    padding-bottom: 25px;
    
}
        .box1, h1{
        font-family: "museo-slab-rounded", sans-serif;
        font-weight: 900;
        font-size: 22pt;
        }

        .box1, p{
        font-family: "neue-kabel", sans-serif;
        font-weight: 400;
        font-size: 14pt;
        }

        .img1{
            width: 50%;
            border-radius: 50%;
            border: 3px solid #000000;
        }

    .box2{
        background-color :#d84d34;
        border-bottom: 3px solid #f3c846;
        border-top: 3px solid #f3c846;
        color: white;
        place-content: center;
        width: 38%;
        padding: 15px;
        padding-top: 25px;
        padding-bottom: 25px;
    }
        .box2, h1{
            font-family: "museo-slab-rounded", sans-serif;
            font-weight: 900;
            font-size: 22pt;
        }

        .box2, p{
            font-family: "neue-kabel", sans-serif;
            font-weight: 400;
            font-size: 14pt;
        }

        .img2{
            width: 50%;
            border-radius: 50%;
            border: 3px solid #ffffff;

        }
    
    .box3 {
        border-radius: 0 0 77px 0;  
        border-right: 3px solid #f3c846;        
        border-bottom: 3px solid #f3c846;
        border-top: 3px solid #f3c846;
        background-color: white;
        place-content: center;
        padding: 15px;
        padding-top: 25px;
        padding-bottom: 25px;
        width: 38%;
    }
        .box3, h1{
            font-family: "museo-slab-rounded", sans-serif;
            font-weight: 900;
            font-size: 22pt;
            
        }

        .box3, p{
            font-family: "neue-kabel", sans-serif;
            font-weight: 400;
            font-size: 14pt;
            padding-bottom: 5%;
        }
    
    .img3{
        width: 50%;
        border-radius: 50%;
        border: 3px solid #000000;
        
    }

/*----------------------------------------------------Mobilvisning---------------------------------------------*/

@media screen and (max-width:767px){
    .nyhedscontainer{
        flex-direction: column;
        display: flex;

    }

    h2{
        font-size: 20pt;

    }

    p{
        font-size: 12pt;
    }

    .box1{
        border-radius: 42px 0 0 0;
        border-left: 4px solid #F3C846;
        border-top: 4px solid #F3C846;
        border-bottom: 0px solid;
        border-right: 4px solid #F3C846;
        width: 100%;
    }
    .img1{
        float:left;
        max-width: 35%;
        height: auto;
        margin-top: 50%;
        margin-bottom:50%;
    }

    .text1{
        max-width: 60%;
        float: right;
        text-align: left;

    }

    .box2{
        border-radius: 0 0 0 0;
        border-left: 4px solid #F3C846;
        border-top: 0px solid;
        border-bottom: 0px solid;
        border-right: 4px solid #F3C846;
        width: 100%;
    }

    .img2{
        max-width: 35%;
        height: auto; 
        float: right;
        margin-top: 50%;
        margin-bottom:50%;
    }

    .text2{
        max-width: 60%;
        float: left;
        text-align: left;
        
    }

    .box3{
        border-radius: 0 0 42px 0;
        border-left: 4px solid #F3C846;
        border-top: 0px solid;
        border-bottom: 4px solid #F3C846;
        border-right: 4px solid #F3C846;
        width: 100%;
    }

    .img3{
        float:left;
        max-width: 35%;
        height: auto; 
        margin-top: 50%;
        margin-bottom:50%;
    }

    .text3{
        max-width: 60%;
        float: right;
        text-align: left;
        padding-left:5% ;
    }
}
