/* ---------------------- Headline ---------------------- */
.headline-text {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 2em 0;
    margin: 30px 50px 30px 150px;
  }
  
  .headline-text h2 {
    font-size: 70px;
    position: relative;
    left: -32px;
    z-index: 3;
    color: #242424;
  }

  .headline-row {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 2rem;
    flex-wrap: wrap;
  }

  /* ---------------------- Circles ---------------------- */
  
  .circle {
    position: absolute;
    border-radius: 50%;
    top: 50%;
    transform: translateY(-50%);
  }
  
  .yellow {
    background-color: #F3C846;
    width: 198px;
    height: 198px;
    z-index: 2;
    left: 0;
  }
  
  .red {
    background-color: #D84D34;
    width: 162px;
    height: 162px;
    z-index: 1;
    left: 150px;
  }

  /* ---------------------- Line ---------------------- */

  .line {
    flex-grow: 1;
    display: flex;
    align-items: center;
    margin: 0 150px 0 0;
  }
  
  .line img {
    width: 100%;
    height: auto;
    display: block;
  }

/* ---------------------- Responsive ---------------------- */

 @media only screen and (max-width: 768px) {
  .headline-text {
    flex-direction: column;
    align-items: center;
    justify-content: center;
    position: relative;
    text-align: center;
  }

  .headline-text h2 {
    font-size: 36px;
    position: relative;
    left: -20px;
    margin-bottom: 40px;
    z-index: 3;
  }

  .circle {
    position: absolute;
    top: 40%;
    transform: translateY(-50%);
  }

  .yellow {
    width: 140px;
    height: 140px;
    z-index: 2;
  }

  .red {
    width: 110px;
    height: 110px;
    left: 120px;
    z-index: 1;
  }

.headline-text {
  margin-bottom: -20px !important;
  }
  
}

  @media only screen and (max-width: 1300px) {
    .line {
      display: none;
    }
  
    .headline-row {
      justify-content: center;
    }
  
    .headline-text {
      margin: 30px auto;
    }
  }
