@import url("https://use.typekit.net/xqb5zhb.css");

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  line-height: 1.5;
}
  
body {
  margin: 0;
  background-color: #F1DFC7;
  color: #242424;
}

h1, h2, h3, h4{
  font-family: "museo-slab-rounded", sans-serif;
  font-style: normal;
}

h1, h2 {
  font-weight: 1000;
}

h1 {
  font-size: 50pt;
}

h2 {
  font-size: 38pt;
}

h3 {
  font-weight: 900;
  font-size: 28pt;
}

h4 {
  font-weight: 700;
  font-size: 25pt;
}

p {
  font-family: "neue-kabel", sans-serif;
  font-weight: 400;
  font-style: normal;
}

a {
  text-decoration: none;
  color: inherit;
  transition: all 0.2s ease;
}

a:hover {
  color: #E38A2F;
}


